ClienteWCF/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BienvenidosUyBLL.EntidadesNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BienvenidosUyBLL.EntidadesNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anuncio" nillable="true" type="tns:Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncio" nillable="true" type="tns:ArrayOfAnuncio" />
  <xs:complexType name="Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionAnuncio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feriados" nillable="true" type="tns:ArrayOfTemporada" />
      <xs:element minOccurs="0" name="FotosAnuncio" nillable="true" type="tns:ArrayOfFoto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlojamiento" type="xs:int" />
      <xs:element minOccurs="0" name="NombreAnuncio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioBase" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anuncio" nillable="true" type="tns:Anuncio" />
  <xs:complexType name="ArrayOfTemporada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Temporada" nillable="true" type="tns:Temporada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemporada" nillable="true" type="tns:ArrayOfTemporada" />
  <xs:complexType name="Temporada">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_anuncio" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temporada" nillable="true" type="tns:Temporada" />
  <xs:complexType name="ArrayOfFoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Foto" nillable="true" type="tns:Foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoto" nillable="true" type="tns:ArrayOfFoto" />
  <xs:complexType name="Foto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anuncio" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Foto" nillable="true" type="tns:Foto" />
</xs:schema>