ClienteWCF/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62862/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BienvenidosUyBLL.EntidadesNegocio" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BienvenidosUyBLL.EntidadesNegocio" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>